body {
    cursor: url(https://cdn.jsdelivr.net/gh/zjwo/CDN/img/blog/default.cur), default
}

a,
img {
    cursor: url(https://cdn.jsdelivr.net/gh/zjwo/CDN/img/blog/pointer.cur), default
}

#footer {
    background: rgba(255, 255, 255, .15);
    color: #000;
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;
    backdrop-filter: saturate(100%) blur(5px)
}

@font-face {
    font-family: MyFont;
    src: url(https://cdn.jsdelivr.net/gh/zjwo/CDN@master/font/JetBrainsMono-Medium.woff2);
    font-display: swap
}

#article-container code {
    font-family: MyFont !important
}

@font-face {
    font-family: 'arzhu';
    src: url('https://cdn.jsdelivr.net/gh/zjwo/CDN@master/font/arzhu.ttf');
    font-display: swap
}

h1#site-title {
    font-family: arzhu !important
}

span#subtitle {
    font-family: arzhu !important
}

a#site-name {
    font-family: arzhu !important
}

[data-theme='dark'].formmain {
    background: #323232
}

[data-theme='dark'].comments {
    background: rgba(90, 90, 90, 0.8)
}

span.inline-tag {
    display: inline;
    padding: .2em .6em .3em;
    font-size: 90%;
    font-weight: 400;
    line-height: 1;
    color: #fff;
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;
    border-radius: .1rem;
    border-radius: 6px;
    background-color: var(--Color)
}

p.red,
span.red {
    --Color: rgb(233, 30, 100);
    --ColorA: rgba(233, 30, 100, 0.2);
}

p.green,
span.green {
    --Color: rgb(139, 195, 74);
    --ColorA: rgba(139, 195, 74, 0.2);
}

p.blue,
span.blue {
    --Color: rgb(3, 169, 244);
    --ColorA: rgba(3, 169, 244, 0.2);
}

p.yellow,
span.yellow {
    --Color: rgb(255, 193, 7);
    --ColorA: rgba(255, 193, 7, 0.2);
}

p.grey,
span.grey {
    --Color: rgb(76, 76, 76);
    --ColorA: rgba(76, 76, 76, 0.2);
}

p.div-border {
    padding: 10px;
    border: 1px solid var(--Color, #333);
    border-radius: 0.4rem;
    background-color: var(--ColorA, transparent);
}

p.left {
    border-left-width: 5px;
    border-left-color: var(--Color);
}

p.bottom {
    border-bottom-width: 5px;
    border-bottom-color: var(--Color);
}

p.right {
    border-right-width: 5px;
    border-right-color: var(--Color);
}

p.top {
    border-top-width: 5px;
    border-top-color: var(--Color);
}

.tk-input[data-v-619b4c52] .el-textarea__inner {
    min-height: 210px !important;
}

.el-textarea__inner:focus {
    background-image: none !important;
}