@font-face{
    font-family:'wb' ; 
    src:url('https://cdn.jsdelivr.net/gh/pangxiaoli/static@master/fonts/wb.ttf'); 
    font-display : swap;
}

@font-face{
    font-family:'HackI' ; 
    src:url('https://cdn.jsdelivr.net/gh/pangxiaoli/static@master/fonts/Hack-Italic.ttf'); 
    font-display : swap;
}

@font-face{
    font-family:'Emily' ; 
    src:url('https://cdn.jsdelivr.net/gh/pangxiaoli/static@master/fonts/EmilysCandy-Regular.ttf'); 
    font-display : swap;
}

@font-face{
    font-family:'zstx' ; 
    src:url('https://cdn.jsdelivr.net/gh/pangxiaoli/static@master/fonts/zstx.ttf'); 
    font-display : swap;
}

@font-face{
    font-family:'yh' ; 
    src:url('https://cdn.jsdelivr.net/gh/pangxiaoli/static@master/fonts/yh.ttf'); 
    font-display : swap;
}

/* 网站标题 */
#site-name, #site-title {
    font-family: 'zstx';
}
.author-info__name {
    font-family: 'Emily';
}

/* 首页 */
.article-title {
    font-family: 'yh' !important;
}
.content {
    font-family: 'wb';
    font-size: 16px;
}

/* 各级标题 */
h1, h2, h3, h4, h5, h6 {
    font-family: 'yh';
}
h1 { font-size: 28px;}
h2 { 
    font-size: 24px;
    border-bottom: dotted #49b1f5;
}
h2::before {
    content: "#" !important;
    font-size: 26px !important;
    top: calc(50% - 13px) !important;
    color: #49b1f5;
}
h3 { 
    font-size: 20px;
    margin-left: 0.6em !important;
}
h3::before {
    content: "##" !important;
    font-size: 22px !important;
    margin-left: -1.6rem !important;
    top: calc(50% - 11px) !important;
    color: #49b1f5;
}
h4 { font-size: 16px;}
h5 { font-size: 12px;}
h6 { font-size: 10px;}


/* 正文 */
p {
    font-family: 'HackI','wb';
    font-size: 17px;
}

/* aplayer */
.aplayer.aplayer-fixed.aplayer-narrow .aplayer-body {
    left: -66px !important;
    /* 默认情况下缩进左侧66px，只留一点箭头部分 */
}

.aplayer.aplayer-fixed.aplayer-narrow .aplayer-body:hover {
    left: 0 !important;
    /* 鼠标悬停是左侧缩进归零，完全显示按钮 */
}

/* 评论框 */
.el-textarea__inner {
    height: 200px !important;
}

/* 页脚 */
#footer {
    background: linear-gradient(rgb(161, 196, 253) 0%, rgb(194, 233, 251) 100%);
}

#footer-wrap {
    color: var(--white);
}

#footer-wrap a {
    color: var(--white);
}